@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --medium: 400;
    --bold: 700;  
}
*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body,html{
    width: 100vw;
    font-size: 17px;
    background-color: #fafafa;
    overflow-x: hidden;
}
/* custom scrollbar  */
::-webkit-scrollbar{
    background-color: #fafafa;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(75, 117, 242);
    z-index: 9; 
}

/* navbar config */
header{
    padding: 0px 80px;
    height: 90px;
    background-color: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all ease 0.4s;
}
.sticky{
    box-shadow: 10px 0px 35px #131313;
    background-color: rgb(49, 92, 219);
    height: 75px;
}

header span{
    color: rgb(49, 92, 219);
}
header h1{
    font-weight:var(--bold);
    font-size: 2rem;
    color: black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
}
#bars{
    font-size: 2.6rem;
}
header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    padding: 0px 20px;
    height: 90px;
}


header nav ul li a{
    color: black;
    font-weight: var(--bold);
    font-size: 0.9rem;
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    height: inherit;
}

header nav ul li a:hover{
    color: rgb(49, 92, 219);
    transform: translateY(-3px);
    text-shadow: 2px 12px 30px #777;
}
/* menu mobile */
.menu-mobile{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color:rgb(49, 92, 219);
    margin-right: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all ease 1s;
}
.menu-mobile nav{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
}
.menu-mobile nav ul{
    list-style: none;
}
.menu-mobile nav ul li{
    padding: 25px 0px;
    text-align: center;
}
.menu-mobile nav ul li a{
    color: white;
}
.menu-mobile i{
    color: white;
    font-size: 2.6rem;
    padding: 20px;
}
/* simple structure */

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('background--image.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0px 80px;
}
section p{
    font-weight: var(--medium);
    text-align: center;
}
section h1{
    font-weight: var(--bold);
    font-size: 2.5rem;
}
main{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #131313;
    height: max-content;
    color: white;
    padding: 0px 80px;
}

main p{
    text-align: justify;
    margin: 10px 0px;
}

/* responsive */

@media (max-width: 1300px){
    #bars{
        display: block;
    }
    header nav ul{
        display: none;
    }
}
@media (min-width: 1301px){
    #bars{
        display: none;
    }
    header nav ul{
        display: flex;
    }
}
@media(max-width: 750px){
    section h1{
        font-size: 2rem;
    }
}
@media(max-width: 590px){
    section h1{
        font-size: 1.5rem;
        text-align: center;
    }
}